<%- include('../partials/header') %>

<form id="new-form" action="/photos" method="POST">
  <label>Title:</label>
  <input type="text" name="title">
  <label>Photo Link:</label>
  <input type="url" name="photoLink">
  <label>Year Taken:</label>
  <input type="text" name="yearTaken">
  <label>Photographer:</label>
  <input type="text" name="photographer">
  <label>Location:</label>
  <input type="text" name="location">
  <input type="submit" value="Add Photo">
</form>

<%- include('../partials/footer') %>
