<!DOCTYPE html>
<html>
  <head>
    <title>PicChat - Landscape Edition</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to PicChat - Landscape Edition</p>
  </body>
</html>
