* {
  box-sizing: border-box;
  font-family: Helvetica;
  color:rgb(236, 232, 99);
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  color:rgb(188, 223, 51);
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #2b95af;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  color:antiquewhite;
  background-color: #3d3c44;
  padding: 10px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

form *, 
.dropdown {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  color: #d1d8bc;
  background-color: #7b777e;
}
form > label {
  color: #fbfbfb;
  background-color: #57505c;
  text-align: center;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
  color: darkblue;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #164a55;
}

table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: #B8C0C2;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#list a:hover {
  background-color: white;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  justify-items: center;
  grid-gap: 1rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
  
}

#add-review-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
  color: mediumblue;
}

#add-review-form input[type="submit"]  {
  width: 10rem;
  grid-column: 2 / 3;
  color: mediumblue;
}

ul {
  margin: 0 0 1rem;
  padding: 0;
  list-style: none;
}
	
li {
  font-weight: bold;
}

hr {
  color: #424748
}

#badge-container {
  display: flex;
  /* padding: 1rem; */
  width: 80%;
  border: 2px solid #B8C0C2;
  border-radius: .5rem;
  margin: .5rem 0 2rem;
}

.badge {
  background-color: #B8C0C2;
  padding: .5rem;
  margin: 1rem;
  border-radius: .3rem;
  font-size: .8rem;
  text-align: center;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
  width: 50px;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-right: 10px;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
  width: auto;
  padding-right: 10px;
}

img {
  -webkit-filter: drop-shadow(5px 5px 5px #222222);
  filter: drop-shadow(5px 5px 5px #070707);
  width: 500px;
}

logo {
  position: absolute;
  left: 0px;
}

photo-details {
	display: table;
}

table tr {
	display: table-cell;
}

table tr td {
	display: block;
}

#delete-photo-form {
  color: red;
  background-color: red;
  border-color: red;
  border-style: solid;
  border-width: 1px;
}